<h1>Editing buddies</h1>

<%= simple_form_for(@buddy) do |f| %>
<%= f.input :skills %>
<%= f.input :description %>
<%= f.submit "#{ @buddy.persisted? ? 'Update' : 'Create' } my profile", class: 'btn btn-primary' %>
<% end %>

