<h1>Index View</h1>
<li>/buddies</li>
<li>navbar</li>
<li>register as buddy -> link_to new</li>
<li>card -> link_to show</li>

<ul>
  <% @buddies.each do |buddy| %>
  <li> <%= buddy.user.first_name %> </li>
  <li> <%= buddy.user.last_name %> </li>
  <li> <%= buddy.user.email %> </li>
  <li> <%= buddy.description %> </li>
  <% end %>
</ul>
