<h1>Index/home View</h1>
<li>/buddies</li>

<ul>
<li>navbar</li>
<li>register as buddy -> link_to new</li>
<li>card -> link_to show</li>
<li></li>
  <%# @buddies.each do |buddy| %>
    <%# <li>= link_to buddy.user.first_name, buddy_path(buddy)</li> %>
  <%# end %>
</ul>
