.loging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #222;
  background-color: #FFE59D;
}

.form-actions {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  text-decoration: none;
  text-align: center
}

.btn-signup {
  background-color: #7D1E6A;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid black;
}
