
.logos {
    display: flex;
    gap: 30px;
    padding: 1em;
  }
.text-center{
  border: 5px solid #FFFF00;
  padding: 50px 0;
  text-align : center;
}
.skills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
