

  <%= simple_form_for [@buddy, @booking], html: { data: { controller: 'flatpickr'} } do |f| %>
    <%= f.input :start_date, as: :string, input_html: { class: "datepickr" } %>
    <%= f.input :end_date, as: :string , input_html: { class: "datepickr" } %>
    <div class="d-flex flex-column justify-content-center">
    <%= f.submit class: 'btn-signup' %>
    </div>
  <% end %>
