<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgw2zajw1/image/upload/v1653542991/la-derniere-ou-plutot-les-dernieres-poignees-de-main-en-date-ont-eu-lieu-lundi-24-septembre-a-new-york-a-la-veille-de-l-assemblee-generale-des-nations-unies-devant-les-photographes-donald-trump-et-emmanuel-macron-se-sont-serre-la-main-a-de_xftu7x.jpg);">
  <div class="container">
      <h1>Find a buddy to pair program </h1>
      <p>Set your programming language
        and see nerds around you!</p>
    <a class="btn-signup" href="/buddies">Find my buddy!</a>
    <a class="btn btn-secondary" href="buddies/new">Register as a buddy</a>
  </div>
</div>
