<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.insider.com/60d611fedf1db80018f3a4c7?width=700);">
  <div class="container">
    <h1>Find a  <strong>buddy</strong>!</h1>
    <p>Change your life and learn to code with someone.</p>
    <a class="btn btn-light" href="#">Start now</a>
  </div>
</div>
