<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.insider.com/60d611fedf1db80018f3a4c7?width=700);">
  <div class="container">
    <h1>Find a  <strong>buddy</strong>!</h1>
    <p>Lets you find coders to pair program with</p>
    <p>Set the programming language of the person you want to code with
    and see nerds that you can pair program with! </p>
    <p>Easy peasy! </p>

    <a class="btn btn-light" href="/buddies">Start now</a>
    <a class="btn btn-light" href="buddies/new">Register as a buddy</a>
  </div>
</div>
