<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dgw2zajw1/image/upload/v1653595051/alvaro-reyes-fSWOVc3e06w-unsplash_bocsvp.jpg);">
      <h1>Find a buddy to pair program </h1>
      <p>Set your programming language
        and see nerds around you!</p>
    <div class="">
    <%= link_to "Find My Buddy !", buddies_path, class: "btn-flat"%>
    </div>
</div>
