<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.insider.com/60d611fedf1db80018f3a4c7?width=700);">
  <div class="container py-5">
    <header class="text-center text-white">
      <h1 class="display-4 font-weight-bold mb-8">Find a buddy to pair program </h1>
      <br>

      <p class="mb-0">Set your programming language <br/>
        and see nerds around you!</p>

      <h6>You want to try out pair programming,
    but you’re not sure where to start or who to ask?
    <br/>
    You’re still new at this whole coding thing
    and none of your friends know how to code or code at your level?</h6>
<br/>
  <h3>This place is for you!</h3>
 <br>
    <a class="btn btn-light" href="/buddies">Yay! I need help</a>
    <a class="btn btn-secondary" href="buddies/new">I want to be a buddy!</a>

</header>
</div>
</div>
