
<div class="card-product">
  <div class="container">
    <div class="card-product-infos">
      <p>You want to try out pair programming,
      but you’re not sure where to start or who to ask? <strong>You’re still new at this whole coding thing
      and none of your friends know how to code or code at your level?</strong> This place is for you!</p>
    </div>
  </div>
</div>

