<div class="container">
<div class="cards">
  <% @last_buddies.each do |buddy| %>
     <div class="card-category">
           <%= buddy.user.first_name %>
           <%= buddy.user.last_name %>
           <%# <%= buddy.user.photo %>
      </div>
  <% end %>
  </div>
</div>
</div>
