
<div class="card-product">
  <img class="card-product img" src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1653604510/noun-sad-face-2752849_i8vwq6.png" />
  <div class="card-product-infos">
      <p>You want to try out pair programming,
      but you’re not sure where to <strong>start or who to ask?</strong> <br> 
      
      You’re still new at this whole coding thing
      and none of your friends know <strong>how to code or code at your level?</strong> <br>  This place is for you! </p> 
  </div>
  <img class="card-product img" src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1653604490/noun-smiley-2752854_hi0zyn.png" />
</div>

