<div class="card-trip">
<div class="d-flex bd-highlight justify-content-center">
  <% @last_buddies.each do |buddy| %>
     <div class="p-2 flex-fill bd-highlight">
           <%= buddy.user.first_name %>
           <%= buddy.user.last_name %>
           <%# <%= buddy.user.photo %>
</div>
  <% end %>
  </div>
</div>
