


<div class="cards">
  <% @last_buddies.each do |buddy| %>

        <div class="a-box">
    <%= link_to buddy_path(buddy) do %>
          <div class="img-container">
            <div class="img-inner">
              <div class="inner-skew" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path buddy.photo.key, height: 300, crop: :fill %>')">
              </div>
            </div>
          </div>
          <div class="text-container">
            <h3> <%= buddy.user.first_name %> <%= buddy.user.last_name %></h3>
            <div class="info-content">
              <div>
                A METRRE LES skills
              </div>
              <a class="btn btn-flat" href="#">Apply now</a>
            </div>
          </div>
    <% end %>
        </div>

  <% end %>
</div>
