

<%# ****** NE FONCTIONNE PAS NE PAS TOUCHER***** %>

<%# <div class="container">
<div class="cards">
	<span class="pro">PRO</span> %>
  <%# <% @last_buddies.each do |buddy| %>
     <%# <div class="card-category">
           <%= buddy.user.first_name %>
           <%# <%= buddy.user.last_name %>
           <%# <br> %>

 <%# <%= link_to "See buddy", buddy_path(buddy), button class="primary ghost"%>
      <%# </div> %>

  <%# <% end %>
  <%# <div class="likes">
      <p><i class='fa fa-heart'></i></p>
      <p>1.5K</p>
    </div> %>
<%# </div>
</div> %>
