<div class="card-trip">
  <img src="homer-scenario" />
  <div class="card-trip-infos">
    <div>
      <h2><Jean-Pierre></Jean-Pierre></h2>
      <p>Je suis un super buddy</p>
    </div>
    <h2 class="card-trip-pricing">€10.00</h2>
    <img src="homer-scenario.png" class="card-trip-user avatar-bordered" />
  </div>
</div>
