
<div class="footer d-flex justify-content-around">
ABOUT US
  <%# <p> %>
  <%= link_to "Find the code of this project here", "https://github.com/CoulonNina", :target => "_blank", class:"link-footer1" %>
  <%= link_to "Press Resources", "https://twitter.com/journalice", :target => "_blank", class:"link-footer2" %>
  <%= link_to "Testimonials – What Our Users Say", "https://duckly.com/blog/pair-programming-with-vs-code/", :target => "_blank", class:"link-footer3" %>
  <%= link_to "Terms of Service", "https://github.com/OpheliaOndella", :target => "_blank", class:"link-footer4" %>
  <%# </p> %>

  <div id="socialmedia float-md-left" class="d-flex flex-row justify-content-around" style="width: 10%;">
    <a href="http://www.facebook.com" class="fa-brands fa-facebook fs-3 text-decoration-none"></a>
    <a href="http://www.twitter.com" class="fa-brands fa-twitter fs-3 text-decoration-none"></a>
  </div>
</div>
