

  <div class="footer">
    <p>Made with <span>&hearts;</span> by
      <%= link_to "Nina", "https://github.com/CoulonNina", :target => "_blank" %>
      <%= link_to "Alice", "https://twitter.com/journalice", :target => "_blank" %>
      <%= link_to "Mylène", "https://github.com/MyleneF84", :target => "_blank" %>
      <%= link_to "Ophélia", "https://github.com/OpheliaOndella", :target => "_blank" %>
    </p>
    <ul id="socialmedia">
      <li class="social-facebook a-js"><a target="_blank" href="http://www.facebook.com"></a></li>
      <li class="social-twitter a-js"><a target="_blank" href="http://www.twitter.com"></a></li>
    </ul>
  </div>
