.banner {
  background-size: cover;
  text-align: center;
  background-position: center;
  padding: 90px 0;
  height: 90vh;
}

.banner-btn {
  display: flex;
  justify-content: center;
}

.banner h1 {
  margin: 10;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: normal;
}

.banner p {
  margin: 15px;
  color: white;
  padding-bottom: 70px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: lighter;
}




