.banner {
  background-size: cover;
  text-align: center;
  background-position: center;
  padding: 90px 0;
  height: 90vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: normal;
}

.banner p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: lighter;
}

.container h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  font-weight: lighter;

}


.container h6 {
  margin: 0;
  color: rgb(200, 199, 199);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}
