// Login button
.nav-link-button {
  color: $redf;
  border: 2px solid $redf;
  padding: 4px 24px;
  border-radius: 4px;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  text-decoration: none;
}
.nav-link-button:hover {
  opacity: 1;
}

// Sign up button
.btn-signup {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: #1C1B47;
  transition: background 0.3s ease;
}

.btn-signup:hover {
  background: #293462;
  color: white;
}

// text button
.btn-text {
  text-decoration: none;
  color: #7D1E6A;
  transition: background 0.3s ease;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $redf;
  transition: background 0.3s ease;
}
.btn-flat:hover {
  color: white;
  background-color: $redfcontrast;
}

.bg-skills-pills {
  background-color: $redf;
}

// .button-primary {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   // border: 1px solid white;
//   border: none;
//   background-color: $redf;
//   transition: background 0.3s ease;
// }

// .button-primary:hover {
//   background: $redfcontrast;
//   color: white;
// }