.card-product {
  overflow: hidden;
  height: 120px;
  background-color: #161518;
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-product img {
  background-color: #161518;
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  color: white;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 0px;
  margin-bottom: 35px;
  border-radius: 10px;
  background-color: #161518;
  text-align: center;
}