.card-product {
  overflow: hidden;
  justify-content: space-between;
  height: 150px;
  display: flex;
  align-items: center; 
  margin-top: 16px;
  padding: 15px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  color: #1C1B47;;
  text-justify: center;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 0px;
  color: #D21E27;
  margin-bottom: 35px;
  border-radius: 10px;
  text-align: center;
}