.navbar-lewagon {
  background: white;
  height: 60px;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 0px;
  margin-top: -1em;
}


.nav-item {
  display: flex;
  justify-content: space-between;
}
